.container{
    width: 100px;
    height: 100px;
    background-color: antiquewhite;
    animation-name: example;
    animation-duration: 20s;
  }
  
  @keyframes example {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}
  }

  p {
      text-align: center;
      color: black;
      font-size: 17px;
      font-style: italic;
      font-family: 'Courier New', Courier, monospace;
  }